# Spring Boot Configuration
SPRING_PROFILES_ACTIVE=docker-local

# MySQL Configuration (Docker Compose)
MYSQL_ROOT_PASSWORD=root_password
MYSQL_HOST=mysql
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USERNAME=
MYSQL_PASSWORD=

# MongoDB Configuration (Docker Compose)
MONGO_HOST=mongo
MONGO_PORT=
MONGO_DATABASE=
MONGO_USERNAME=
MONGO_PASSWORD=

# Redis Configuration (Docker Compose)
REDIS_HOST=redis
REDIS_PORT=
REDIS_PORT_GUI=
REDIS_PASSWORD=

# Zookeeper COnfiguration (Docker Compose)
ZOOKEEPER_PORT=

# Kafka Configuration (Docker Compose)
KAFKA_PORT=
KAFKA_INTERNAL_PORT=
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_TOPIC_TRADE_REPORTS=trade-reports

# Vector DB Configuration (Chroma)
VECTOR_DB_HOST=chroma
VECTOR_DB_PORT=
VECTOR_DB_COLLECTION=trade_reports

# Backend Server
BACKEND_PORT=
BACKEND_URL=

# Frontend Server
FRONTEND_PORT=
FRONTEND_URL=

CORS_ALLOWED_ORIGINS=

# Trade Expiration 
TRADE_EXPIRATION_CRON=

